body {
  margin: 0;
  font-family: 'ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter-results-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.results-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}