body {
  margin: 0;
  font-family: 'ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter-results-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notLoading {
  align-items: flex-start;
}

.loading {
  align-items: center;
}

.list-group-item {
  border: none;
}

.activado {
  color: blue;
}

.results-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: 0;
  flex-wrap: wrap;
}

/* .input-group {
  width: 30%;
} */